In [ ]:
ip_list = {'192.168.70.128':'김상민', '192.168.70.21':'박진우'}

In [ ]:
from flask import Flask, request

# app : Sever실행, 경로를 잡아주는 객체
app =Flask(__name__)

@app.route('/')
def index():
    ip = request.remote_addr
    if ip == '192.168.70.21':
        return '방가방가햄토리'
    else:
        return '<h1>Hello World<h1>'

if __name__ == '__main__':
    app.run(host='192.168.70.128', port=5099)

In [6]:
from flask import Flask, redirect

app = Flask(__name__)

@app.route('/')
def index():
    url='http://sangmin.dothome.co.kr/'
    return redirect(url)

@app.route('/sel_emp')
def se_emp():
    dao = DAO()
    r = dao.select()
    
    result = '</br>'.join(map(str, r))
    
    return result
    
    
if __name__ == '__main__':
    app.run(host='192.168.70.128', port=5035)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://192.168.70.128:5035/ (Press CTRL+C to quit)
192.168.70.128 - - [22/Sep/2022 12:21:46] "GET /sel_emp HTTP/1.1" 200 -

In [ ]:
import os
LOCATION = r"C:/Users/AI/instantclient_21_6"
os.environ["PATH"] = LOCATION + ";" + os.environ["PATH"]

# Instant client

In [ ]:
!pip install cx_Oracle

In [ ]:
!pip install --upgrade --force-reinstall cx_Oracle

In [5]:
import cx_Oracle

# DB 연결
- 1) Connection
- 2) Cursor
- 3) Execute
- 4) Close

In [ ]:
# connection

db_id = 'hr'
db_pw = 'hr'
db_url ='127.0.01:1521/xe'
conn = cx_Oracle.connect(db_id, db_pw, db_url)

# 2.Cursor
curs = conn.cursor()

# 3. Execute
sql = 'select last_name, salary from employees'
result = curs.execute(sql)
result.fetchall()

# 4. Close
# 연결통로들 닫을 때는, 열었던 역순으로 닫는다.
if curs != None:
    curs.close()
if conn != None:
    conn.close()

In [ ]:
class DAO:

In [ ]:
# Python  점수를 저장하려고 함
score = 100
# score의 타입은???
type(score)
# 이름을 저장하려고 함
name ='나예호'

type(name)

# 나예호와 Python점수를 동시에 저장
# class를 사용한다

In [ ]:
# VO(Value Object)
# 사용자 정의 데이터 타입

# Design Pattern
# 코드를 작성
# Refactoring

# 가장 보편적, 가장 많이 사용된 Design Pattern
# MVC : Model, View, Constroller

In [ ]:
class Scores:
    
    name=''
    score=0
    
    def print_info(self):
        print('이름 : {}/ 점수 : {}'.format(self.name, self.score))

In [ ]:
s1 = Scores()
s1.name = '나예호'
s1.score = 100

print(s1.name, s1.score)

In [14]:
import cx_Oracle
import pandas as pd
class DAO:
    def select(self):
        db_id = 'hr'
        db_pw = 'hr'
        db_url = '127.0.01:1521/xe'
        conn = cx_Oracle.connect(db_id, db_pw, db_url)
        
        curs = conn.cursor()
        
        sql='select last_name, salary from employees'
        result=  curs.execute(sql)
        r = result.fetchall()

        if curs != None:
            curs.close()
        if conn != None:
            conn.close()
        return r
    
    def select_df(self):
        conn, curs = self.conn_db()
        
        sql = "select * from member"
        df = pd.read_sql(sql, conn)
        conn.close
        return df
    
    def conn_db(self):
        db_id = 'hr'
        db_pw = 'hr'
        db_url = '127.0.01:1521/xe'
        conn = cx_Oracle.connect(db_id, db_pw, db_url)
        
        curs = conn.cursor()
        return conn, curs
    
    def insert(self, join_id, join_pw, join_name):
        conn, curs = conn_db()
        
        sql= '''insert into member(memid, id, pw, name)
                values (mem_memid_seq.nextval, :1, :2, :3)'''
        curs.execute(sql, (join_id, join_pw, join_name))
        
        conn.commit()
        
        if curs != None:
            curs.close()
        if conn != None:
            conn.close()
        
        
    def login(self, login_id, login_pw):
        conn, curs = self.conn_db()
        
        sql = '''select count(*) from member where id =:1 and pw=:2 '''
        result = curs.execute(sql, (login_id, login_pw))
        cnt = result.fetchall()[0]
        
        if curs != None:
            curs.close()
        if conn != None:
            conn.close()
            
        return cnt[0]
    
    def check(self, login_id):
        conn, curs = self.conn_db()
        
        sql = '''select count(*) from member where id =:1'''
        #login_id가 리스트값으로 전달되어서 []안에 넣어줌 or (login_id,)
        result = curs.execute(sql, [login_id]) 
        cnt = result.fetchone() 
        
        if curs != None:
            curs.close()
        if conn != None:
            conn.close()
            
        return cnt[0]

In [15]:
dao = DAO()
dao.check('suzy')

0

In [1]:
from flask import Flask, request, redirect

app = Flask(__name__)
@app.route('/')
def index():
    return '<h1>Hello World</h1>'

@app.route('/join', methods=['POST'])
def join():
    
    if request.method=='POST':
        join_id = request.form['join_id']
        join_pw = request.form['join_pw']
        join_name = request.form['join_name']
        print(join_id, join_pw, join_name)
        dao = DAO()
        try:
            dao.insert(join_id, join_pw, join_name)
            return redirect('/')
        except:
            return redirect('http://192.168.70.145:5500/index.html')
        
@app.route('/check', method=['POST'])
def check_id():
    if request.method=='POST':
        join_id = request.form['join_id']
        
        dao = DAO()
        cnt = dao.check(join_id)
        return cnt

@app.route('/login', methods=['GET', 'POST'])
def login_db():
    if request.method == 'POST':
        login_id = request.form['login_id']
        login_pw = request.form['login_pw']
        
    
        print(login_id, login_pw)
        
        dao = DAO()
        cnt= dao.login(login_id, login_pw)
        
        if cnt == 1:
            url_success = 'http://sangmin.dothome.co.kr/success.html'
            return redirect(url_success)
        else:
            url_fail = 'http://sangmin.dothome.co.kr/fail.html'
            return redirect(url_fail)
        
        
    return '로그인 페이지입니다.'

if __name__ == '__main__':
    app.run(host='192.168.70.145', port=5066)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://192.168.70.145:5066/ (Press CTRL+C to quit)
[2022-09-26 10:44:13,977] ERROR in app: Exception on /join [POST]
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\AI\AppData\Local\Temp\ipykernel_31720\562813637.py", line 16, in join
    dao = DAO()
NameError: name 'DAO' is not defined
192.168.70.145 - - [26/Sep/2022 10:44:13] "POST /join HTTP/1.1" 500 -

suzy 12344 배수지

[2022-09-26 10:44:18,148] ERROR in app: Exception on /join [POST]
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\AI\AppData\Local\Temp\ipykernel_31720\562813637.py", line 16, in join
    dao = DAO()
NameError: name 'DAO' is not defined
192.168.70.145 - - [26/Sep/2022 10:44:18] "POST /join HTTP/1.1" 500 -

suzy 12344 배수지

[2022-09-26 10:44:24,684] ERROR in app: Exception on /join [POST]
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\AI\AppData\Local\Temp\ipykernel_31720\562813637.py", line 16, in join
    dao = DAO()
NameError: name 'DAO' is not defined
192.168.70.145 - - [26/Sep/2022 10:44:24] "POST /join HTTP/1.1" 500 -

suzy 12344 배수지

[2022-09-26 10:46:29,793] ERROR in app: Exception on /join [POST]
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\AI\AppData\Local\Temp\ipykernel_31720\562813637.py", line 16, in join
    dao = DAO()
NameError: name 'DAO' is not defined
192.168.70.145 - - [26/Sep/2022 10:46:29] "POST /join HTTP/1.1" 500 -

suzy 12344 수지

In [2]:
dao = DAO()
#dao.insert('you','0814', 'yjs')
dao.select_df()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   MEMID      ID      PW      NAME  MONEY
0    131     you    0814       yjs  10000
1    124    ksm2    1234  sangmin2  10000
2    122     ksm    1234   sangmin  10000
3    127    ksm3   12345  sangmin3  10000
4    128    ksm4   12346  sangmin4  10000
5    129    ksm5  123467  sangmin5  10000
6    130  karina  123467  sangmin6  10000

In [28]:
dao = DAO()
dao.select_df()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   MEMID      ID      PW      NAME  MONEY
0    124    ksm2    1234  sangmin2  10000
1    122     ksm    1234   sangmin  10000
2    127    ksm3   12345  sangmin3  10000
3    128    ksm4   12346  sangmin4  10000
4    129    ksm5  123467  sangmin5  10000
5    130  karina  123467  sangmin6  10000

In [ ]:
dao = DAO()
r = dao.select()
# for name, salary in r:
#     print('name : {} / salary : {}'.format(name, salary))