In [37]:
dic1 = {"name":"김상민", "age":26, "phone": "01044291188" }
dic1

{'name': '김상민', 'age': 26, 'phone': '01044291188'}

In [22]:
type(dic1)

dict

In [38]:
dic1['birth'] = '12.12'  #key값먼저 입력 = value

In [24]:
dic1

{'name': '김상민', 'age': 26, 'phone': '01044291188', 'birth': '12.12'}

In [25]:
dic_test = {"노래제목":"참고사항", "가수":"이무진", "날짜": "2022,06,23"}
dic_test

{'노래제목': '참고사항', '가수': '이무진', '날짜': '2022,06,23'}

In [26]:
del dic1['age']

In [27]:
dic1

{'name': '김상민', 'phone': '01044291188', 'birth': '12.12'}

In [28]:
dic1['name']

'김상민'

In [29]:
dic1['birth']

'12.12'

In [30]:
dic1

{'name': '김상민', 'phone': '01044291188', 'birth': '12.12'}

In [34]:
dic1.get('name')

'김상민'

In [32]:
dic1.get('birth')

'12.12'

In [39]:
dic1.keys()

dict_keys(['name', 'age', 'phone', 'birth'])

In [40]:
list(dic1.keys())

['name', 'age', 'phone', 'birth']

In [41]:
dic1.values()

dict_values(['김상민', 26, '01044291188', '12.12'])

In [42]:
list(dic1.values())

['김상민', 26, '01044291188', '12.12']

In [44]:
for key in dic1.keys():
    print(key)

name
age
phone
birth

In [45]:
for value in dic1.values():
    print(value)

김상민
26
01044291188
12.12

In [48]:
for key, value in dic1.items():
    print(key,"\t", value)             #실제로는 dic.items()를 많이씀

name 	 김상민
age 	 26
phone 	 01044291188
birth 	 12.12

In [49]:
dic1.items()

dict_items([('name', '김상민'), ('age', 26), ('phone', '01044291188'), ('birth', '12.12')])

In [50]:
'name' in dic1

True

In [51]:
'gender' in dic1

False

In [52]:
'phone' in dic1

True

In [54]:
26 in dic1  #value는 안됌

False

In [55]:
dic1

{'name': '김상민', 'age': 26, 'phone': '01044291188', 'birth': '12.12'}

In [56]:
dic1.clear()

In [57]:
dic1

{}

In [58]:
number = 1

In [61]:
def number_sum(num1, num2):
    result = num1+num2
    return result

In [64]:
number_sum(333534,134346050)

134679584

In [65]:
number = number_sum(333534,134346050)
number

134679584

In [66]:
number

134679584

In [75]:
def number_minus(num1, num2):
    result = 0
    if num1 > num2 :
        result = num1 - num2
    else:
        result = num2 - num1
    return result

첫번째 정수 입력 >> 3
두번째 정수 입력 >> 10
7

In [76]:
num1 = int(input("첫번째 정수 입력 >> "))
num2 = int(input("두번째 정수 입력 >> "))
result = number_minus(num1, num2)
result

첫번째 정수 입력 >> 3
두번째 정수 입력 >> 10

7

In [7]:
def s_replace(voca):
    if 'ㅋ' in voca:
        result = voca.replace('ㅋ', '')
    return result

In [9]:
s = input("들어갈 값을 입력하시오 >> ")
result = s_replace(s)
result

들어갈 값을 입력하시오 >> ㅋ을 모두 지워주세요 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ

'을 모두 지워주세요 '

In [14]:
def cal (num1, num2, op):
    """덧셈과 뺄셈을 계산하는 함수입니다!"""
    if op == '+':
        result = num1 + num2
    else: 
        result = num1 - num2
    return result

In [13]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
op = input("연산자 입력(+,-) >> ")
result = cal(num1, num2, op)
print(f"결과 : {result}")

첫 번째 정수 입력 >> 3
두 번째 정수 입력 >> 33
연산자 입력(+,-) >> -
결과 : -30

In [16]:
print("오늘 하루 정말 좋았습니다", "화이팅!", sep='^^')

오늘 하루 정말 좋았습니다^^화이팅!

In [21]:
def divisor(nums):
    for i in range(1, nums+1):
        if(nums%i == 0):
            print(i, end=" ")

In [32]:
for i in range(1, 11, 1):
    if(11%i == 0):
        print(i)

1

In [22]:
divisor(10)

1 2 5 10

In [23]:
def add(*args):
    print(args)

In [24]:
add(1,2,3)

(1, 2, 3)

In [25]:
add(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [42]:
def add(*args):
    return sum(args)

In [44]:
add(1,2,3,3,4,3,42323,233)

42572

In [1]:
review_naver = ["윌 스미스가 하드캐리 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ",
                "쟈스민 넘 멋지고 팬 엄청 생길듯 ㅋ",
                "기대보다 더욱 재밌는 영화였다^^"
               ]
review_google = ["색감도 노래도 너무 화려하고 재밌었어요 ㅋㅋㅋㅋㅋㅋㅋㅋ",
                 "오늘부터 디즈니 팬입니다. ㅋㅋㅋㅋㅋ",
                 "디즈니의 새로운 해석도 놀랍고, 윌스미스도 신의한수!"
                ]

In [7]:
review_naver.replace("ㅋ", "")    #replace는 문자열에서만 사용가능 list에서는 사용불가능
                                  # for i in @@@ 로 만들어서 replace를 사용해야한다

AttributeError: 'list' object has no attribute 'replace'

In [9]:
def string_replace(num_list):
    for i in num_list:
        print(i.replace("ㅋ", ""))

In [10]:
string_replace(review_naver)
string_replace(review_google)

윌 스미스가 하드캐리
쟈스민 넘 멋지고 팬 엄청 생길듯
기대보다 더욱 재밌는 영화였다^^
색감도 노래도 너무 화려하고 재밌었어요
오늘부터 디즈니 팬입니다.
디즈니의 새로운 해석도 놀랍고, 윌스미스도 신의한수!