In [ ]:
for i in range(1, 1001):
    print(i)aaa

In [1]:
number = 1
while number <= 3:
    print(number)
    number += 1

1
2
3

In [ ]:
py = 0
while py < 10:
    print("파이썬 최고!!")
    py += 1

In [ ]:
while True :
    print('무한루프')
    break

In [ ]:
number = 1
while True:
    print(number)
    number += 1
    if number > 3:
        break

In [ ]:
num = 1
while num <= 10:
    print(f"{num}번째 반복중..")
    if num >= 4:
        print("여기서 부터는 num이 증가하지 않습니다...")
        continue
    num += 1

In [ ]:
while True:
    name = input("이름 입력 >> ")
    
    if name == "최성우":
        print(f"{name} 멋지다")
        break
        
    print(f"{name} 최고!! ")

In [ ]:
while True:
    num1 = int(input("첫 번째 정수 입력 >> "))
    num2 = int(input("두 번째 정수 입력 >> "))
    
    if num1 == 0 and num2 == 0:
        print("프로그램이 종료되었습니다.")
        break
        
    print(f"두 정수의 합 : {num1+num2} ")

In [ ]:
nw = int(input("현재 몸무게 : "))
gw = int(input("목표 몸무게 : "))
num = 1
while nw >= gw:
    ww = int(input(f"{num}주차별 감량 몸무게 : "))
    num += 1 
    nw -= ww

print(f"{nw}kg 달성 !! 축하합니다.")

In [ ]:
import random
random.randint(1, 50)

In [ ]:
num = random.randint(1, 50)

while True :
    a = int(input("숫자를 입력하세요 >> "))
    
    if num > a:
        print(f"{a}보다 큰 수 입니다.")
    elif num < a:
        print(f"{a}보다 작은 수 입니다.")
    else:
        print("정답을 맞추셨습니다,")
        break

In [ ]:
list_food = ["햄버거", "치킨", "피자"]
for food in list_food:
    print(food)

In [ ]:
hi = "안녕하세요"
for s in hi:
    print(s)

In [ ]:
score_list = [70, 45, 70, 60, 55]
num = 0
for i in score_list:
    num += 1
    if i >= 60:
        print(f"{num}번 학생은 합격입니다")
    else: 
        print(f"{num}번 학생은 불합격입니다")

In [ ]:
python_score = [57, 86, 63, 92, 35, 79]
num = 0
for i in python_score:
    num += 1
    if i >= 80 :
        grade = 'A'
    elif i >= 60:
        grade = 'B'
    else:
        grade = 'C'
        
    num += 1
    print(f"{num}번은 {i}점 이며, {grade}등급 입니다.")

In [ ]:
for i in range(1, 10, 1):
    print(i, end=" ")

In [ ]:
for i in range(97, 76 , -1):
    print(i, end=" ")

In [ ]:
for i in range(2, 101, 2):
    print(i, end=" ")

In [ ]:
for i in range(3, 101, 3):
    print(i, end=" ")

In [3]:
list1 = [[1,2], [3,4],[5,6]]
for i,j in list1:
    print( j)

2
4
6

In [ ]:
list2 = [4,5,2,1,99,15,2,7,27]
max_num = list2[0]
for i in list2:
    if i > max_num :
        max_num = i
        
print(max_num)

In [ ]:
list2 = [4,5,2,1,99,15,2,7,27]
min_num = list2[0]
for i in list2:
    if i < min_num :
        min_num = i
   
        
print(min_num)

In [ ]:
total = 0
for i in range (3, 101, 3):
    total += i
print(total)

In [ ]:
for i in range(1, 10, 1):
    print(f"2 * {i} = {2*i}")

In [ ]:
num = int(input("정수 입력 >> "))
for i in range(1, num+1, 1):
    if num % i == 0 :
        print(i, end=" ")

In [ ]:
line = int(input("줄 수 입력 >> "))
for i in range(1, line+1, 1):
    print("*"*i)

In [ ]:
for i in range (1, 6 ,1):
    print("*"*i)
for i in range (6, 0, -1):
    print("*"*i)

In [ ]:
start = int(input("첫 번째 점수 >>"))
end = int(input("두 번째 점수 >>"))
total = 0
for i in range(start, end+1, 1):
    print(i, end=" ")

In [ ]:
start = int(input("첫 번째 점수 >>"))
end = int(input("두 번째 점수 >>"))
bb = int(input("배수 입력 >>"))
total = 0
for i in range(start, end+1, 1):
    if i % bb == 0 :
        total += i
print(f"{bb}의 배수의 합 : {total}")

In [ ]:
for i in range(1, 10, 3):
    print(i)

In [ ]:
#구구단
for dan in range(2, 10, 1):
    for su in range(1, 10, 1):
        print(f"{dan}*{su}={dan*su}\t")

In [ ]:
#구구단
for su in range(1, 10, 1):
    for dan in range(2, 10, 1):
        print(f"{dan}*{su}={dan*su}\t", end=" ")
    print()

In [ ]:
list1 = [1,30,7,9,17,3,5,23,44]
odd = 0
even = 0

for i in list1: 
    if i % 2 == 0:
        even += 1
    else :
        odd += 1
print(f"짝수는 {even}개, 홀수는 {odd}개")

In [ ]:
quiz = input("ox 입력 >> ")
score = 0
result = 0
for i in quiz :
    if i == "o":
        score += 1
        result += score
    else:
        score += 0
print(f"{result}점")    #연속으로 더하기 안됌

In [ ]:
ox = input("OX 입력 >> ")
score = 0
result = 0
for i in range(0 , len(ox), 1): # range 마지막 1 은 생랴가능
    if ox[i] == 'O':
        score += 1
        result += score # result =result + score
    else:
        score = 0
print(f"{result}점")

In [ ]:
score_list = [["박매일",89,78,99],
              ["김미희",67,88,77],
              ["강예진",100,55,96],
              ["최성우", 99, 99, 99]
             ]

In [ ]:
len(score_list)

In [ ]:
# for i in score_list :
#     print(i)

In [ ]:
print("="*50)
print("이름\t", "Python\t", "Java\t", "DB\t", "평균\t", "학점\t")
print("="*50)

python, java, db = 0, 0, 0

for i in score_list :
    #선생님별 평균
    avg = (i[1]+i[2]+i[3])/3
    #과목별 평균
    avg_P, avg_J, avg_D = 0, 0, 0
    
    if avg >= 90 :
        grade = "A"
    elif avg >= 80:
        grade = "B"
    elif avg >= 70:
        grade = "C"
    elif avg >= 60:
        grade = "D"
    else:
        grade = "F"
    print(i[0], "\t", i[1], "\t", i[2], "\t", i[3], "\t", int(avg), "\t", f" {grade}")
    
    
    #과목별 평균
    python += i[1]
    java += i[2]
    db += i[3]
    
avg_P = python / len(score_list)
avg_J = java / len(score_list)
avg_D = db / len(score_list)

print("="*50)
#맨 마지막줄
print("평균\t", int(avg_P), "\t", int(avg_J), "\t", int(avg_D) )

### 네이버 영화 리뷰 간단 분석

In [ ]:
#pickle : 리스트와 같은 자료구조 자체를 저장하거나 불러오게 해주는 
#         라이브러리(기능들의 집합)
import pickle

In [ ]:
with open('data/movie_review.pikle', )